.hero-banner {
    background-image: url("../img/ima1.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  